<nav>
  <ul>
    <li><a routerLink="/items" routerLinkActive="active">Wszystkie</a></li>
    <li><a routerLink="/items?category=Drinki" routerLinkActive="active">Drinki</a></li>
    <li><a routerLink="/items?category=Piwa" routerLinkActive="active">Piwa</a></li>
    <li><a routerLink="/items?category=Śniadania/Desery" routerLinkActive="active">Śniadania/Desery</a></li>
    <li><a routerLink="/items?category=Obiady" routerLinkActive="active">Obiady</a></li>
    <li><a routerLink="/add-item" routerLinkActive="active">Dodaj pozycję</a></li>
  </ul>
</nav>
<hr />
